body{
    font-family: Helvetica;
}
button {
    /* 
    Changing the cursor to a pointer automatically when on top of a button.
    */
	cursor: pointer;
}
#header{
    background-image: linear-gradient(rgb(0,0,200), rgb(0,0,120));
    width: 100%;
    height: 3rem;

    font-size: 1.5rem;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1rem;
}

#header-title{
    position: fixed;
    left: 1rem;
}

#header-button-collection{
    position: fixed;
    right: 1rem;
}

.header-button{
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-width: 0;
    background-image: linear-gradient(white,rgb(0,100,200));
    font-weight: bold;
}

.header-button:hover{
    background-image: linear-gradient(white, white);
}

#content{
    top: 3rem;
    left: 0;
    right: 0;
    background-image: linear-gradient(white, rgb(254,255,254));
    height: 100%;
    position: fixed;;
}

#cookie-screen{
    position: fixed;
    background-image: url("IMG/Background.jpeg");
    width: 80%;
    height: 100%;
}
#upgrade-screen{
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: pink; /* To be changed later */
}

#cookie-button{
    width: 256px;
    height: 256px;
    background-color: transparent;
    border-color: transparent;
}

#cookie-button img {
    width: 256px;
    height: 256px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#cookie-button img:hover{
    width: 266px;
    height: 266px;
    transform: scale(1.01);
}

#cookie-button img:active{
    transform: scale(0.90);
}

