body{
    font-family: Helvetica;
}
button {
    /* 
    Changing the cursor to a pointer automatically when on top of a button.
    */
	cursor: pointer;
}
div{
    /*
    When hovering over text the cursor changed, to make it look nicer we change the cursor to default.
    */
    cursor: default;
}
#header{
    background-image: linear-gradient(rgb(0,0,200), rgb(0,0,120));
    width: 100%;
    height: 3rem;

    font-size: 1.5rem;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1rem;
}

#header-title{
    position: fixed;
    left: 1rem;
}

#header-button-collection{
    position: fixed;
    right: 1rem;
}

.header-button{
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border-width: 0;
    background-image: linear-gradient(white,rgb(0,100,200));
    font-weight: bold;
}

.header-button:hover{
    background-image: linear-gradient(white, white);
}

#content{
    top: 3rem;
    left: 0;
    right: 0;
    background-image: linear-gradient(white, rgb(254,255,254));
    height: 100%;
    position: fixed;;
}

#cookie-screen{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen; /* To be changed later */
    width: 80%;
    height: 100%;
}

#cookie-wallet{
    background-image: radial-gradient(rgb(255,100,0),brown);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 30rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
}

#wallet-text-total{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -0.5rem;
}

#cookie-total{
    font-size: 3.5rem;
    color: white;
}

#wallet-text-cookies-per-second{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: -0.5rem;
}

#cookies-per-second{
    font-size: 3rem;
    color: white;
}

#upgrade-screen{
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: pink; /* To be changed later */
}